html, body {
    height: 100vh;
    margin: 0;
}

img, video {
    max-width: 100%;
    height: auto;
}


#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

hr {
    width: 100%;
}

#criarLembrete-h5 {
    text-align: center;
}

#listaLembretes {
    margin-top: 10px;
    width: 100%;
}
