body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h2 {
    color: white;
}
.content {
    flex: 1;
}

img, video {
    max-width: 100%;
    height: auto;
}

hr {
    width: 100%;
}

#criarLembrete-h5 {
    text-align: center;
}

#listaLembretes {
    margin-top: 10px;
    width: 100%;
}
