html, body {
    height: 100%;
    margin: 0;
}
#main-container {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
}

img, video {
    max-width: 100%;
    height: auto;
}

#main-container {
    padding: 50px;
}

#estatisticasAluno {
    margin-top: 10px;
}
#lista-alunos-result {
    margin-top: 10px;
}

#listaAlunos {
    margin-top: 10px;
}
#carro {
    width: 500px;
}

.custom-table {
    background-color: blue; /* Cor de fundo azul */
}


footer {
    margin-top: auto;
}

