<table class="table table-striped">
    <thead>
        <th>Nome</th>
        <th>Preco</th>
        <th>Opcoes</th>
    </thead>
    <tbody>
        {{#each produtos}}
        <tr>
            <td>{{nome}}</td>
            <td>{{preco}}</td>
            <td>{{opcoes}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>