body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 100px;
}
h2 {
    color: white;
}
#logoCarrinho {
    height: 40px;
    width: 40px;
}
.content {
    flex: 1;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
  }